html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

button:disabled {
  opacity: 0.5;
}

/** removing background on $ sign in input **/
.input-group-addon {
  background-color: #fff;
}

/** removing line to right of $ sign in input **/
.input-group .input-group-addon + .form-control {
  border-left: none;
}

/** Used to hide/show form hints depending on validation error **/
.help-block {
  display: none;
}
.form-group.has-error .help-block {
  display: block;
}

/** Used to get the thumbnails to be the same size **/
.thumbnail a > img,
.thumbnail > img {
  border-radius: 5%;
  height: 16rem;
  border: solid 1px #cccccc;
}

.full-page {
  background: #0073e6;
  width: 100%;
  height: 100vh;
}

.login-form {
  padding: 2.5vh 50px 0 50px;
}

.register-form {
  padding: 25vh 50px 0 50px;
}

.home-info {
  padding: 50% 20%;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.25rem;
}

.home-title {
  font-weight: bold;
  font-size: 2rem;
}

.h-100 {
  height: 100vh;
}

.blue {
  height: 100%;
  background-color: #245580;
}

.less-padding {
  padding-right: 0px;
}

.top-padding {
  padding-top: 2.5vh;
}

.bottom-padding {
  padding-bottom: 2.5vh;
}

/* override bootstrap navbar colors
.navbar, .navbar-default {
    background-image: linear-gradient(to bottom,#337ab7 0,#2e6da4 100%) !important;
}

.navbar-default .navbar-brand {
    color: white;
}
*/
